body, html {
    width: 1000px;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Georgia;
    color: darkgrey;
}
.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
.header{
    width: 100%;
    background-image: url(".UI/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 4vw;
    line-height: 4.8vh;
    color: darkgrey;
    text-align: center;
    text-transform: uppercase;
    padding: 12vh 0;
}

.top-panel{
    width: 100%;
    background-color: sandybrown;
    line-height: 2.4vw;
    text-align: right;
}

button{
    border-color: cornflowerblue;
    color: ghostwhite;
    background-color: cornflowerblue;
}

.right-sidebar{
    width: 15%;
    margin: 0;
    padding: 0;
    background-color: #d2edfa;
    line-height: 2.4vw;
    text-align: left;
    text-transform: uppercase;
    float: right;
}
.right-sidebar input {
    text-transform: lowercase;
    width: 50%;
}
.content{
    background-color: #d2edfa;
    float: left;
    width: 85%;
    line-height: 2.4vw;
    text-align: left;
    overflow: scroll;
    color: gray;
}
.content image{
    width: 50%;
}
.clear {
    clear: both;
}
.footer{
    width: 100%;
    background-color: darkgrey;
    padding: 3.6vh 0;
    color: sandybrown;
    font-size: 1.2vw;
    line-height: 1.2vw;
    text-align: left;
}

button{
    color: ghostwhite;
    background-color: cornflowerblue;
}
